{{> layout/header}}
<style>
    .card:hover {
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.14);
        transition: all .3s ease-in-out;
    }
</style>

<div class="ml-80 mr-80 px-3 new-container" style=" flex-direction: column; padding:150px 0 0">
    <!-- 가운데 탭-->
    <div class="" style=" display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr 1fr; grid-gap: 20px;">
        <div class="">
            <!--<button type="button" class="btn btn-mint w-100 ">지역별</button>-->
            <select class="form-select tab btn-outline-mint" name="area" id="areaList">
                <option value="">지역별</option>
                <option value="서울">서울특별시</option>
                <option value="부산">부산광역시</option>
                <option value="인천">인천광역시</option>
                <option value="광주">광주광역시</option>
                <option value="대전">대전광역시</option>
                <option value="경기도">경기도</option>
            </select>
            </td>
        </div>
        <div class="">
            <!--<button type="button" class="btn btn-outline-mint w-100">기술별</button>-->
            <select class="form-select tab btn-outline-mint" name="skillList" id="skillList">
                <option value="">기술별</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Spring">Spring</option>
                <option value="HTML/CSS">HTML/CSS</option>
                <option value="Jquery">jquery</option>
                <option value="Jsp">JSP</option>
                <option value="Vuejs">Vue.js</option>
                <option value="Oracle">Oracle</option>
                <option value="MySql">MySQl</option>
                <option value="React">React</option>
            </select>
        </div>
        <div class="">
            <!--<button type="button" class="btn btn-outline-mint w-100">직무별</button>-->
            <select class="form-select tab btn-outline-mint" name="" id="taskList">
                <option value="">직무별</option>
                <option value="게임개발">게임 개발자</option>
                <option value="백엔드">백엔드 개발자</option>
                <option value="프론트엔드">프론트엔드 개발자</option>
                <option value="안드로이드">안드로이드 개발자</option>
                <option value="IOS">IOS 개발자</option>
                <option value="풀스택">풀스택 개발자</option>
                <option value="빅데이터">빅데이터 엔지니어</option>
                <option value="임베디드">임베디드 개발자</option>
                <option value="devops">devops 개발자</option>
            </select>
        </div>
    </div>
    <!--가운데 탭-->


    <!-- 공고들 -->
    <div class="info" style=" display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px; margin: 50px 0;">
        {{#listDTOS}}
            <!--공고-->
            <div class="card">
                <a href="/jobs/jobs-detail/{{id}}">
                    <div class="comp-img-wrapper">
                        <img class="card-img-top" src="/upload/{{user.imgFileName}}" alt="" srcset="" style="height: 5em; width: 180px; padding: 5px; text-align: center;"
                             gitstyijmle="height: 5em; width: 180px; padding:5px; text-align: center;">
                    </div>
                    <div class="card-body">

                        <div class="mb-2 ft-16">{{user.compName}}</div>
                        <div class="point-ft ft-22 fw-600 mb-10 jobs-title">{{title}}</div>

                        <!--기술스킬-->
                        <div class="skill-wrap">
                            {{#skills}}
                                <span class="{{color}}">{{name}}</span>
                            {{/skills}}
                        </div>

                        <!--career, address info-->
                        <div class="d-flex">
                            <div class="career">{{career}}</div>
                            <div class="mr-5 ml-5">|</div>
                            <div class="address">{{area}}</div>
                        </div>
                        <!--career, address info-->

                        <div class="d-flex justify-content-end">
                            <!--공고 마감일-->
                            <div class="d-day mr-10">{{deadline}}까지</div>
                            <!--공고 마감일-->

                            <!--공고 스크랩-->
                            <button type="button" aria-label="북마크" class="btn-scrap">
                                <div class="scrap">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M4.75 2.5a.25.25 0 0 0-.25.25v9.91l3.023-2.489a.75.75 0 0 1 .954 0l3.023 2.49V2.75a.25.25 0 0 0-.25-.25h-6.5zM3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 0 1-1.227.579L8 11.722l-3.773 3.107A.75.75 0 0 1 3 14.25V2.75z"
                                              fill="#eaecee"></path>
                                    </svg>
                                </div>
                            </button>
                            <!--공고 스크랩-->
                        </div>
                    </div>
                </a>
            </div>




            <!--공고-->
        {{/listDTOS}}
    </div>
    <!-- 공고들 -->

    <!--페이징-->
    <div class="pages">
<!--        <ul class="pagination justify-content-center pb-50">-->
<!--            <li class="page-item disabled prev">-->
<!--                <a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li>-->
<!--            <li class="page-item active">-->
<!--                <a class="page-link" href="#">1</a></li>-->
<!--                <a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item disabled next">-->
<!--                <a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a>-->
<!--            </li>-->
<!--        </ul>-->
    </div>

    <script>
        $(function (){
            {{#selected}}
                $("#areaList").find('option[value="{{area}}"]').attr("selected", true);
                $("#skillList").find('option[value="{{skill}}"]').attr("selected", true);
                $("#taskList").find('option[value="{{task}}"]').attr("selected", true);
            {{/selected}}
        });

        function getUrlWithSearchOption(){
            const area = $('#areaList').val();
            const skill = $('#skillList').val();
            const task = $('#taskList').val();

            return `http://localhost:8080/jobs/info?area=${area}&skill=${skill}&task=${task}`;
        }

        // 옵션 선택 시 URL 변경
        document.getElementById("areaList").addEventListener("change", function () {
            var selectedArea = this.options[this.selectedIndex].value;
            // window.location.href = "http://localhost:8080/jobs/info?area=" + selectedArea;
            window.location.href = getUrlWithSearchOption();
        });

        document.getElementById("skillList").addEventListener("change", function () {
            var selectedSkill = this.options[this.selectedIndex].value;
            // window.location.href = "http://localhost:8080/jobs/info?skill=" + selectedSkill;
            window.location.href = getUrlWithSearchOption();
        });

        // 옵션 선택 시 URL 변경
        document.getElementById("taskList").addEventListener("change", function () {
            var selectedCareer = this.options[this.selectedIndex].value;
            // window.location.href = "http://localhost:8080/jobs/info?career=" + selectedCareer;
            window.location.href = getUrlWithSearchOption();
        });

    </script>

</div>

{{> layout/footer}}
