{{> layout/compheader}}
<style>
    .my-border {
        background-color: #f8f8f8;
        padding: 20px;
    }

    .border {
        border: 1px solid rgb(0, 0, 0);
    }
</style>

<!--이력서 작성-->
<div class="resume-info-wrap  pt-80">

    <div class="new-container my-5 py-5 pt-80 d-flex">

        {{>layout/sidebar}}
        <!--이력서 작성 폼-->
        <div class="container ft-18" style="width: calc(100% - 270px); padding:  0 !important;">
            {{#job}}
            <form action="/jobs/{{id}}/update" method="post" style="width: 100%;">
            <div class="">
                <!-- <div class="title">
            <h2>이력서 작성</h2>
        </div>
        <hr> -->
            <div class=" mb-3 ft-18">
                <div class="card-header resume-info-hdtitle"  style=" font-size: 22px; font-weight: 700; margin-bottom: 15px;">기본 정보</div>

            <div class="card-body d-flex" style=" display: flex; flex-direction: column;">
                <div class="new-head">
                    <div class="my-border resume-info-img col-3 mt-3"
                         style="text-align: center;width: 200px; height: 200px; margin-top: 0 !important; display: flex; align-items: center; justify-content: center; border-radius: 10px;">
                        <img class="" src="/images/logo.png" alt="" srcset="" style="width: 100%;"
                             id="photo">
                    </div>
                    <input type="hidden" value="{{sessionC.id}}" name="compId" />
                    <div class="resume-info-txt" style="width: calc(100% - 200px); margin-left: 100px;">
                        <div class="new-info-txt-wrapper">
                            <div class="new-input-wrapper">
                                <div class="new-wrapper-contnent">
                                    <div class="new-title">기업명</div>
                                    <div class="new-content bold">{{compName}}</div>
                                </div>
                            </div>
                            <div class="new-input-wrapper">
                                <div class="new-wrapper-contnent">
                                    <div class="new-title">연락처</div>
                                    <div class="new-content">{{phone}}</div>
                                </div>
                                <div class="new-wrapper-contnent">
                                    <div class="new-title">사업자 등록번호</div>
                                    <div class="new-content">{{businessNumber}}</div>
                                </div>
                                <div class="new-wrapper-contnent">
                                    <div class="new-title">링크</div>
                                    <div class="new-content">
                                        <a href="www.naver.com">{{homepage}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-body">
                    <div class="card border-light mb-3">
                        <div class="card-header resume-info-hdtitle">제목<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="text" name="title" id="title" class="form-control"
                                           value="{{title}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">학력 사항<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="form-group">
                                <select class="form-select" name="edu" id="edu">
                                    <option selected>{{edu}}</option>
                                    <option value="초졸">초졸</option>
                                    <option value="중졸">중졸</option>
                                    <option value="고졸">고졸</option>
                                    <option value="대졸">대졸</option>
                                    <option value="대학원 이상">대학원 이상</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">경력사항<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="form-group">
                                <select class="form-select" name="career" id="career">
                                    <option selected>{{career}}</option>
                                    <option value="신입">신입</option>
                                    <option value="1년차 미만">1년차 미만</option>
                                    <option value="1년">1년</option>
                                    <option value="2년">2년</option>
                                    <option value="3년">3년</option>
                                    <option value="4년">4년</option>
                                    <option value="5년">5년</option>
                                    <option value="6년">6년</option>
                                    <option value="7년">7년</option>
                                    <option value="8년차 이상">8년차 이상</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">보유기술<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="row my-border" style=" background-color: #f8f8f8; padding: 20px;">
                                <ul class="row technic" >
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.java}}checked{{/skillChecked.java}}
                                                   value="Java">Java
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.javaScript}}checked{{/skillChecked.javaScript}}
                                                   value="JavaScript">JavaScript
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.spring}}checked{{/skillChecked.spring}}
                                                   value="Spring">Spring
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.htmlCss}}checked{{/skillChecked.htmlCss}}
                                                   value="HTML/CSS">HTML/CSS
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.jquery}}checked{{/skillChecked.jquery}}
                                                   value="Jquery">Jquery
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.jsp}}checked{{/skillChecked.jsp}}
                                                   value="JSP">JSP
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.vueJs}}checked{{/skillChecked.vueJs}}
                                                   value="Vue.js">Vue.js
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.oracle}}checked{{/skillChecked.oracle}}
                                                   value="Oracle">Oracle
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.mySql}}checked{{/skillChecked.mySql}}
                                                   value="MySql">MySql
                                        </label>
                                    </li>
                                    <li class="col-2 form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="skill"
                                                   {{#skillChecked.react}}checked{{/skillChecked.react}}
                                                   value="React">React
                                        </label>
                                    </li>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">회사소개<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="form-group">
                                            <textarea class="form-control" name="content" id="content"
                                                      rows="3">{{content}}</textarea>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">근무지역<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <select class="form-select" name="area" id="area">
                                <option selected>{{area}}</option>
                                <option value="서울특별시">서울특별시</option>
                                <option value="부산광역시">부산광역시</option>
                                <option value="대구광역시">대구광역시</option>
                                <option value="인천광역시">인천광역시</option>
                                <option value="광주광역시">광주광역시</option>
                                <option value="대전광역시">대전광역시</option>
                                <option value="울산광역시">울산광역시</option>
                                <option value="세종특별자치시">세종특별자치시</option>
                                <option value="경기도">경기도</option>
                                <option value="경기도">강원도</option>
                                <option value="충청북도">충청북도</option>
                                <option value="충청남도">충청남도</option>
                                <option value="전라북도">전라북도</option>
                                <option value="전라남도">전라남도</option>
                                <option value="경상북도">경상북도</option>
                                <option value="경상남도">경상남도</option>
                                <option value="제주특별자치도">제주특별자치도</option>
                            </select>
                        </div>

                        <div class="card-header resume-info-hdtitle">마감일<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="date" name="deadLine" id="deadLine" class="form-control"
                                           value="{{deadLine}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-header resume-info-hdtitle">업무<span style="color: red">(필수)</span></div>
                        <div class="card-body">
                            <select class="form-select" name="task" id="task">
                                <option selected>{{task}}</option>
                                <option value="백엔드">백엔드</option>
                                <option value="프론트">프론트</option>
                                <option value="게임개발">게임개발</option>
                                <option value="웹퍼블리셔">웹퍼블리셔</option>
                                <option value="풀스택">풀스택</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--                -->
            {{/job}}
            <div class="rButton">
                <div id="resume-remove" class="d-flex justify-content-center" style="align-items: center;">
                    <div class="">
                        <button class="btn btn-mint w-100">수정완료</button>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        <!--저장 버튼-->
        </form>
        <!--저장 버튼-->
    </div>
    <!--이력서 작성 폼-->

</div>
</div>
{{> layout/footer}}