{{> layout/compheader}}

<style>
    .my-border {
        background-color: #f8f8f8;
        padding: 20px;
    }

    .border {
        border: 1px solid rgb(0, 0, 0);
    }
</style>

<!--이력서 작성-->
<div class="resume-info-wrap  pt-80">
    <div class="new-container my-5 py-5 pt-80 d-flex" style="flex-direction: row; align-items: flex-start !important;">
        {{> layout/sidebar}}
        <!--공고 작성 폼-->
        <div class="container" style="width: calc(100% - 270px); padding: 0">
            <form action="/jobs/save" method="post" style="width:100%;">
                <input type="hidden" value="{{sessionComp.id}}" name="userId"/>
                <div class="">
                    <!-- <div class="title">
                            <h2>이력서 작성</h2>
                        </div>
                        <hr> -->
                    <div class=" mb-3 ft-18">
                        <div class="card-header resume-info-hdtitle"style=" font-size: 22px; font-weight: 700; margin-bottom: 15px;">기본 정보</div>

                        <div class="card-body d-flex"
                             style=" align-items: flex-end; margin: 20px 0; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
                            <div class="my-border resume-info-img col-3 mt-3"
                                 style="text-align: center; width: 200px; height: 200px; margin-top: 0 !important; display: flex; align-items: center; justify-content: center; border-radius: 50%;">
                                <img class="" src="/images/logo.png" alt="" srcset="" style="width: 100%;"
                                     id="photo">
                            </div>

                            <div class="resume-info-txt" style=" width: calc(100% - 270px); margin-left: 30px;">
                                <table>
                                    <tr>
                                        <th style="width:100px;">기업명</th>
                                        <td>{{sessionComp.compName}}</td>
                                    </tr>
                                    <tr>
                                        <th>공고제목</th>
                                        <td><input class="form-control" style="height: 50px;" type="text" name="title"
                                                   placeholder="제목을 작성해주세요" value="test"></td>
                                    </tr>

                                    <tr>
                                        <th>근무 지역</th>
                                        <td>
                                            <select class="form-select" name="area" id="area">
                                                <option disabled>근무 지역을 선택해주세요</option>
                                                <option selected value="서울">서울</option>
                                                <option value="부산">부산</option>
                                                <option value="대구">대구</option>
                                                <option value="인천">인천</option>
                                                <option value="광주">광주</option>
                                                <option value="대전">대전</option>
                                                <option value="울산">울산</option>
                                                <option value="세종">세종</option>
                                                <option value="경기도">경기도</option>
                                                <option value="강원도">강원도</option>
                                                <option value="제주">제주</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div class="card new-body mb-3" style="boder-color:1px solid #ddd !important;">
                            <div class="card-header resume-info-hdtitle">학력 사항<span style="color: red">(필수)</span></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <select class="form-select" name="edu" id="edu">
                                        <option disabled>최종 학력 사항을 선택해주세요</option>
                                        <option selected value="초졸">고졸</option>
                                        <option value="대졸">대졸</option>
                                        <option value="학력무관">학력무관</option>
                                    </select>
                                </div>

                            </div>
                            <div class="card-header resume-info-hdtitle">경력 사항<span style="color: red">(필수)</span></div>
                            <div class="card-body">
                                <div class="form-group">
                                    <select class="form-select" name="career" id="career">
                                        <option disabled>경력 사항을 선택해주세요</option>
                                        <option selected value="신입">신입</option>
                                        <option value="미들">미들(4~8년)</option>
                                        <option value="senior">시니어(10년 이상)</option>
                                        <option value="경력무관">경력무관</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-header resume-info-hdtitle">필요 기술<span style="color: red">(필수)</span></div>
                            <div class="card-body">
                                <div class="row my-3 my-border">
                                    <ul class="row technic">
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="Java">Java
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="JavaScript">JavaScript
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="Spring">Spring
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="HTML/CSS">HTML/CSS
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="Jquery">Jquery
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="JSP">JSP
                                            </label>
                                        </li>
                                        <li class="col-2 form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" name="skill"
                                                       value="React">React
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-header resume-info-hdtitle">내용<span style="color: red">(필수)</span></div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="card-header resume-info-hdtitle">마감일<span style="color: red">(필수)</span></div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input type="date" name="deadLine" id="deadLine" class="form-control"
                                                   style="height: 50px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header resume-info-hdtitle">업무<span style="color: red">(필수)</span></div>
                                <div class="card-body">
                                    <select class="form-select" name="task" id="task">
                                        <option disabled>경력 사항을 선택해주세요</option>
                                        <option selected value="백엔드">백엔드</option>
                                        <option value="프론트">프론트</option>
                                        <option value="게임개발">게임개발</option>
                                        <option value="웹퍼블리셔">웹퍼블리셔</option>
                                        <option value="풀스택">풀스택</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--저장 버튼-->
                <div class="rButton">
                    <div id="resume-remove" class="d-flex justify-content-center" style="align-items: center;">
                        <div class="mr-10">
                            <button id="" onclick="" type="button"
                                    class="btn btn-outline-mint w-100">임시<a href=""></a>
                                저장
                            </button>
                        </div>
                        <div class="">
                            <button class="btn btn-mint w-100">공고등록</button>
                        </div>
                    </div>
                </div>
                <!--저장 버튼-->
            </form>
        </div>
        <!--이력서 작성 폼-->
    </div>
</div>
{{> layout/footer}}