
<footer id="footer">
    <div class="ft-in pt-40 pb-40 ft-16" style="width: 1400px; margin:0 auto;">
        <div class="d-flex">
            <div class="f_logo">
                    <img src="/images/logo.png">
            </div>
            <div class="ft-info-w">
                <ul class="ft-info d-flex">
                    <li class="mr-20">(주)그로우</li>
                    <li class="mr-20">대표 : 한종희</li>
                    <li class="mr-20">개인정보보호책임자 : 이준희</li>
                    <li class="mr-20">사업자등록번호 : 124-81-00998</li>
                    <li class="mr-20">직업정보제공사업 신고번호 : 02-2255-0114</li>
                </ul>
                <ul>
                    <li>경기도 수원시 영통구 삼성로129(메탄동)</li>
                    <li>©grow. All rights reserved.</li>
                    <li style="color:darkgrey;">본 사이트는 상업적으로 사용하지 않습니다.</li>
                </ul>
            </div>
        </div>
    </div>

    <button type="button" id="btn-top" class="btn-outline-mint">
        <i class="fa fa-arrow-up" aria-hidden="true"></i><span class=""></span>
    </button>
    <script>
        $(function () {
            $("#btn-top").on("click", function () {
                $("html, body").animate({ scrollTop: 0 }, '500');
                return false;
            });
        });
    </script>
</footer>
<!--푸터 끝-->

</body>

</html>