{{> layout/header}}

<div class="container pt-140 pb-80">
    {{#board.isBoardOwner}}
        <!-- 수정삭제버튼 -->
        <div class="d-flex justify-content-end">
            <a href="/board/{{board.id}}/board-update-form" class="btn btn-mint w-150 mr-10">수정</a>
            <form action="/board/{{board.id}}/delete" method="post">
                <button class="btn btn-mint w-150">삭제</button>
            </form>
        </div>
    {{/board.isBoardOwner}}
    <div class="d-flex justify-content-end ft-18 mt-10">
        <b>작성자</b> : {{board.user.myName}}
    </div>

    <!-- 게시글내용 -->
    <div style="width: 100%">
        <h2><b>{{board.title}}</b></h2>
        <hr/>
        <div class="m-4 p-2 ft-16">
            {{board.content}}
        </div>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3" style="width: 100%">
        <!-- 댓글등록 -->
        <div class="card-body">
            <form action="/reply/save" method="post">
                <input type="hidden" name="boardId" value="{{board.id}}">
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-mint mt-1 w-150">댓글등록</button>
                </div>
            </form>
        </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            {{#board.replies}}
                <!-- 댓글아이템 -->
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div class="px-1 me-1 bg-primary text-white rounded">{{user.myName}}</div>
                        <div>{{comment}}</div>
                    </div>
                    {{#replyOwner}}
                        <form action="/board/{{board.id}}/reply/{{id}}/delete" method="post">
                            <button class="btn">🗑</button>
                        </form>
                    {{/replyOwner}}
                </div>
            {{/board.replies}}

        </div>
    </div>
</div>

{{> layout/footer}}

