{{> layout/header}}

<div class="container pt-140 pb-80">

    <!-- 요청을 하면 localhost:8080/board/save POST로 요청됨
    title=사용자입력값&content=사용자값 -->
    <div class="card" style="width:80%">
        <div class="card-header ft-18"><b>글쓰기 화면입니다</b></div>
        <div class="card-body">
            <form action="/board/save" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-mint form-control">글쓰기완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}