{{> layout/header}}

<div class="container pt-140 pb-80">

    <div class="card" style="width:80%">
        <div class="card-header"><b>글수정하기 화면입니다</b></div>
        <div class="card-body">
            <form action="/board/{{board.id}}/update" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title"
                           value="{{board.title}}">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content">{{board.content}}</textarea>
                </div>
                <button class="btn btn-mint form-control">글수정하기완료</button>
            </form>

        </div>
    </div>
</div>

{{> layout/footer}}