{{> layout/header}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>
        <div class="new-container my-5 py-5 pt-80">

            {{> layout/sidebar}}
            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 270px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">

                        <div class="font mb-3">이력서 내역</div>
                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a
                                    href="/resume/write-resume-form">이력서 작성</a></button>
                        </div>
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
                            <tr>
                                <th class="center-align col">No</th>
                                <th class="center-align col-2">이름</th>
                                <th class="center-align col">이력서 제목</th>
                                <th class="center-align col-2">경력</th>
                                <th class="center-align col">주요 기술</th>
                                <th class="center-align col"></th>
                            </tr>
                            </thead>
                            {{#ursList}}
                                <tbody>

                                <tr class="offer-table">
                                    <th scope="row">{{id}}</th>
                                    <td>{{myName}}</td>
                                    <td>{{resumeTitle}}</td>
                                    <td>{{career}}</td>
                                    <td>
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="new-create-button">
                                            <form action="/resume/resume-detail2/{{id}}">
                                                <button type="submit" class="btn btn-mint offer-table-btn">상세보기</button>
                                            </form>
                                        </div>
                                        <div class="new-create-button">
                                            <form>
                                                <input type="hidden" id="resumeId">
                                                <!--resumeId를 직접 apply 함수의 파라메터로 전달-->
                                                <button type="button" onclick="apply({{resumeId}})"
                                                        class="btn btn-mint offer-table-btn">지원내역
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            {{/ursList}}
                        </table>
                    </div>

                </div>

                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font mb-3">지원 현황</div>
                    <div>
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>기업명</th>
                                <th>공고명</th>
                                <th>경력</th>
                                <th>주요 기술</th>
                                <th>현재 상태</th>
                            </tr>
                            </thead>
                            <tbody id="jobList">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function render(ursDTO) {
        let temp = `
            <tr class="offer-table" id="applyCancel-${ursDTO.id}">
            <td>${ursDTO.id}</td>
            <td>
                <div style="text-align: left; font-size: 15px;font-weight: 700;margin-bottom: 5px;">
                    ${ursDTO.compName}
                </div>
            <td>${ursDTO.jobsTitle}</td>
            <td>${ursDTO.jobsCareer}</td>
            <!--타이틀, 보유스킬-->
            <td class="col-3" style="text-align: center">
                <div style="text-align: start"></div>
                <div class="new-skill-box">
        `;

        ursDTO.skillList.forEach(s => {
            temp += `<span class="${s.color}">${s.name}</span>`;
        });


        temp += `
                </div>
            </td>

            <td>${ursDTO.jobsCareer}</td>

            <!--공고 관련 버튼-->
            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
            <td class="col-3" style="text-align: center">
                <div class="">
                    <div class="new-create-button">
                        <a href="/jobs/jobs-detail/${ursDTO.jobsId}">
                            <button type="button" class="btn btn-mint offer-table-btn">상세보기
                            </button>
                        </a>
                    </div>
                    <div class="new-create-button">
                            <button type="button" onclick= "applyCancel(${ursDTO.jobsId},${ursDTO.resumeId},${ursDTO.id})" class="btn btn-mint offer-table-btn">지원취소
                            </button>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        `;
        return temp;
    }

    /*
    * 지원 내역을 호출하는 함수
    * 1. 지원 내역 버튼을 누르면 onclick = "apply(resumeId)"호출
    * 2. apply 함수에서 ajax로 "/api/find-jobs-resume" 호출
    * 3. List를 반환하고 그 반환 값을 forEach문으로 render()함수 호출
    * 4. render함수는 List사이즈 만큼 반복
    * 5. render함수 내부에 SkillList반복문은 내부 html을 skill반복문 전과 후로 나누어 변수 temp로 지정
    * 6. 나누어진 곳에 자바스크립트 로직으로 html 리턴값을 반복하여 넣음
    * */
    function apply(resumeId) {
        $.ajax({
            url: "/api/find-jobs-resume",
            type: "post",
            data: {resumeId: resumeId}
        }).done((resp) => { // resp는 List의 한 요소, 객체
            $("#jobList").empty();
            resp.forEach(item => { // forEach 쓰는 이유는 List이기 때문
                let htmlContent = render(item);
                $('#jobList').append(htmlContent); //.html은 그자리를 계속 대체함, append가 되어야 추가됨
            });
        });
    }

    function applyCancel(jobsId, resumeId, elementId) {
        // 참조하는 같은 id값이 여러개면 제일 처음 값을 찾기 때문에, elementId로 반복문 id값이 동적으로 바뀔 수 있게 해야함.
        console.log(jobsId, resumeId, elementId)
        if (confirm("지원을 정말 취소하시겠습니까?")) {
            $.ajax({
                url: "/apply/cancel",
                type: "post",
                data: {
                    jobsId: jobsId,
                    resumeId: resumeId
                }
            }).done(() => {
                //empty()로 지우면 빈공간이 남으므로, remove로 지워야 지운자리에 남은 요소들이 채움
                $(`#applyCancel-${elementId}`).remove();
            });
        }
    }


</script>
{{> layout/footer}}