{{> layout/header}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>
        <div class="new-container my-5 py-5 pt-80">

            {{> layout/sidebar}}
            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 270px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">

                        <div class="font mb-3">이력서 내역</div>
                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a
                                    href="/resume/write-resume-form">이력서 작성</a></button>
                        </div>

                        <div class="font mb-3">지원 내역</div>
<!--                        <div>-->
<!--                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a-->
<!--                                    href="/jobs/writeJobsForm">이력서 작성</a></button>-->
<!--                        </div>-->

                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
                            <tr>
                                <th class="center-align col">No</th>
                                <th class="center-align col-2">이름</th>
                                <th class="center-align col">이력서 제목</th>
                                <th class="center-align col-2">경력</th>
                                <th class="center-align col">주요 기술</th>
                                <th class="center-align col"></th>
                            </tr>
                            </thead>
                            {{#ursList}}
                                <tbody>

                                <tr class="offer-table">
                                    <th scope="row">{{id}}</th>
                                    <td>{{myName}}</td>
                                    <td>{{resumeTitle}}</td>
                                    <td>{{career}}</td>
                                    <td>
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="new-create-button">
                                            <form action="/resume/resume-detail/{{id}}">
                                                <input type="hidden" name="jobsId" value="jobsId">
                                                <button type="submit" class="btn btn-mint offer-table-btn">상세보기</button>
                                            </form>
                                        </div>
                                        <div class="new-create-button">
                                            <form>
                                                <input type="hidden" id="resumeId">
                                                <!--resumeId를 직접 apply 함수의 파라메터로 전달-->
                                                <button type="button" onclick="apply({{resumeId}})"
                                                        class="btn btn-mint offer-table-btn">지원내역
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            {{/ursList}}
                        </table>
                    </div>

                </div>

                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font mb-3">지원 현황</div>
                    <div>
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>기업명</th>
                                <th>공고명</th>
                                <th>경력</th>
                                <th>주요 기술</th>
                                <th>현재 상태</th>
                            </tr>
                            </thead>
                            <tbody id="jobList">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function render(ursDTO) {
        let temp = `
            <tr class="offer-table" id="applyCancel-${ursDTO.id}">
            <td>id</td>
            <td>
                <div style="text-align: left; font-size: 15px;font-weight: 700;margin-bottom: 5px;">
                    ${ursDTO.compName}
                </div>
            <td>${ursDTO.jobsTitle}</td>
            <td>${ursDTO.jobsCareer}</td>
            <!--타이틀, 보유스킬-->
            <td class="col-3" style="text-align: center">
                <div style="text-align: start"></div>
                <div class="new-skill-box">
        `;

        ursDTO.skillList.forEach(s => {
            temp += `<span class="${s.color}">${s.name}</span>`;
        });


        temp += `
                </div>
            </td>

            <td>${ursDTO.jobsCareer}</td>

            <!--공고 관련 버튼-->
            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
            <td class="col-3" style="text-align: center">
                <div class="">
                    <div class="new-create-button">
                        <a href="/jobs/jobs-detail/${ursDTO.jobsId}">
                            <button type="button" class="btn btn-mint offer-table-btn">상세보기
                            </button>
                        </a>
                    </div>
                    <div class="new-create-button">
<!--                         <a href="/apply/${ursDTO.jobsId}/cancel/${ursDTO.resumeId}">-->
                            <button type="button" onclick= "applyCancel(${ursDTO.jobsId},${ursDTO.resumeId},${ursDTO.id})" class="btn btn-mint offer-table-btn">지원취소
                            </button>
                        </a>
                    </div>
                    <!--<div class="new-create-button">-->
                </div>
            </td>
        </tr>
        `;
        return temp;
    }

    function apply(resumeId) {
        $.ajax({
            url: "/api/find-jobs-resume",
            type: "post",
            data: {resumeId: resumeId}
        }).done((resp) => { // resp는 List의 한 요소, 객체
            $("#jobList").empty();
            console.log(resp);  //이걸 먼저 찍어서 테스트
            resp.forEach(item => { // forEach 쓰는 이유는 List이기 때문
                let htmlContent = render(item);
                $('#jobList').append(htmlContent);
            });
        });
    }

    function applyCancel(jobsId, resumeId, elementId) {
        console.log(jobsId, resumeId, elementId)
        if (confirm("지원을 정말 취소하시겠습니까?")) {
            $.ajax({
                url: "/apply/cancel",
                type: "post",
                data: {
                    jobsId: jobsId,
                    resumeId: resumeId
                }
            }).done(() => {
                $(`#applyCancel-${elementId}`).remove(); // 제가 생각할 떄 엠티는 공간을 비우는 것이고 저기 자체를 없애는 다른 단어
            });
        }
    }


</script>
{{> layout/footer}}