{{> layout/header}}
<style>
    .parent{
        display: grid;
        width: 400px;
    }
    .child{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

</style>

<div style="display:flex;" class="my-5">
    <div class="mx-auto width-53 pt-40">

        <div class="rounded-3 container border border-3 p-3 mt-5 parent">
            <div class="form-group mb-3 child" style="text-align: center;">
                <h4>개인 회원정보 수정</h4>
            </div>
            <div class="child" style="width: 100%">
                <form action="/user/{{id}}/update" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group mb-2">
                        <input type="password" name="password" class="form-control" placeholder="Enter password"
                               id="password">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" name="myName" class="form-control" placeholder="" id="name" value="{{sessionUser.myName}}" disabled>
                    </div>

                    <div class="form-group mb-2">
                        <input type="date" name="birth" class="form-control" placeholder="" id="birth" value="{{sessionUser.birth}}">
                    </div>

                    <div class="form-group mb-2">
                        <input type="tel" name="phone" class="form-control" placeholder="" id="tel" value="{{sessionUser.phone}}">
                    </div>
                    <div id="list">
                        <input class="btn btn-outline-mint mb-2" type="button" onClick="goPopup();" value="도로명주소 검색">
                    </div>
                    <div id="callBackDiv">
                        <div class="form-group mb-4">
                            <input class="form-control" type="text" id="address" readonly
                                   placeholder="" name="address" value="{{sessionUser.address}}"/>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-2">
                        <button type="submit" class="btn btn-mint">수정완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function goPopup(){
        // 현재 화면의 중앙 위치를 계산
        var width = 500; // 팝업 창의 너비
        var height = 480; // 팝업 창의 높이
        var left = (window.screen.width / 2) - (width / 2);
        var top = (window.screen.height / 2) - (height / 2);
        new daum.Postcode({
            oncomplete: function(data) {
                // 주소 검색 결과 처리 로직
                document.getElementById('address').value = data.roadAddress; // 도로명 주소
                window.close();
            },
            width: width, // 팝업 창의 너비
            height: height // 팝업 창의 높이
        }).open({
            left: left, // 팝업 창을 화면의 가운데로 위치
            top: top
        });
    }
</script>
{{> layout/footer}}