{{> layout/header}}
<style>

    .qButton:hover {
        background-color: rgb(59, 103, 235);
        cursor: pointer;
    }

    .top_category>div:hover {
        color: rgb(87, 87, 230);
    }

    .menu_bar a:hover {
        background-color: antiquewhite;
        cursor: pointer;
    }

    .width-53 {
        width: 53%;
    }

    .qButton {
        font-size: 1em;
        font-weight: bold;
        width: 124px;
        height: 35px;
        display: inline;
        float: right;
        margin-right: 3em;
        background-color: #2cb457;
        cursor: pointer;
        color: rgb(255, 255, 255);
        border: none;
        padding: 0.2em 2em;
    }
</style>
<body>

<div class="container-fluid pt-140" style="width: 1000px">
    <div class="mb-40">
        <div style="font-size: 1.2em; font-weight : bold; display:inline; margin-left : 0em;">
            고객 서비스
        </div>
        <button type="submit" class="qButton"
                style="border-radius: 30px; padding: 1.5px 20px; margin-right: 0em; ;">
            <a href="/help/inquiryForm"> 문의하기</a>
        </button>
        <hr>
    </div>

    <div style="text-align : center;">
        <form action="/login" method="post">
            <h2 class="ft-26 ml-10" style=" font-weight: bold;"> 궁금한 점을 물어보세요 !</h2>
            <input class="ft-18" type="text" size="38px" placeholder="비밀번호를 찾고싶어요." autofocus>
        </form>
        <div class="mt-70">
        </div>
        <div>
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left;">
                    <div class="menu_bar">
                        <button type="button"
                                style="text-align: left; background-color: rgb(240, 240, 241); border: none; padding: 2.5em 5em; border-radius: 10px;">
                            <div>
                                <div class="ft-24 ft-bd" style="color: rgb(86, 87, 87);">
                                    개인회원
                                </div>
                            </div>
                            <div class="ft-18">개인회원을 위한 이용 안내입니다.</div>
                        </button>
                        <div class="mt-80"></div>
                    </div>
                    <h2 class="ft-bd ft-28">개인회원 자주묻는 질문</h2>
                    <div class="top_category">
                        <div class="ft-16 ft-bd mt-30"><a href="/help/user01Form"
                                                          style="color: black; text-decoration: none;">
                            추천·채용 보상은 어떻게 지급되나요?</a></div>
                        <div class="ft-16 ft-bd mt-30"><a href="/help/user03Form"
                                                          style="color: black; text-decoration: none;">보상금 지급 대상자가 아니라고 뜹니다.</a></div>
                        <div class="ft-16 ft-bd mt-30"><a href="/help/user02Form"
                                                          style="color: black; text-decoration: none;">가입된 아이디를 찾고 싶어요</a></div>
                        <div class="ft-16 ft-bd mt-30"><a href="/help/user05Form"
                                                          style="color: black; text-decoration: none;">삭제한 이력서 복원이 가능한가요?</a></div>
                        <div class="ft-16 ft-bd mt-30"><a href="/help/user04Form"
                                                          style="color: black; text-decoration: none;">보상금 지급 정보를 늦게 제출 했습니다. 어떻게
                            되나요?</a>
                        </div>
                    </div>
                </div>

                <div style="text-align: left;">
                    <button type="button"
                            style="text-align: left; background-color: rgb(240, 240, 241); border: none; padding: 2.5em 5em; border-radius: 10px;">
                        <div>
                            <div class="ft-24 ft-bd" style="color: rgb(86, 87, 87);">기업회원
                            </div>
                        </div>
                        <div class="ft-18">기업회원을 위한 이용 안내입니다.</div>
                    </button>
                    <div class="mt-80">
                        <h2 class="ft-bd ft-28 mr-80">기업회원 자주묻는 질문
                        </h2>
                        <div>
                            <div class="ft-16 ft-bd mt-30"><a href="/help/job01Form"
                                                              style="text-decoration: none;">
                                매치업 서비스를 이용하고 싶어요.</a></div>
                            <div class="ft-16 ft-bd mt-30"><a href="/help/job04Form"
                                                              style="color: black; text-decoration: none; margin-right: 30px;">최종 합격
                                처리 후, 채용
                                수수료 정산은 어떻게 하나요?</a>
                            </div>
                            <div class="ft-16 ft-bd mt-30"><a href="/help/job05Form"
                                                              style="text-decoration: none;">
                                매치업 후보자의 각 상태별 의미가 궁금합니다</a></div>
                            <div class="ft-16 ft-bd mt-30"><a href="/help/job03Form"
                                                              style="text-decoration: none;">면접 진행은
                                어떻게
                                하나요?</a></div>
                            <div class="ft-16 ft-bd mt-30"><a href="/help/job02Form"
                                                              style="text-decoration: none;">원하는
                                직군/직무를 추가하고
                                싶어요</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 130px;"></div>
</div>


<script>
    function kiup() {
        alert("기업");
    }

    function gein() {
        alert("개인");
    }
</script>

{{> layout/footer}}
