{{> layout/header}}

<div class="container-fluid" style="margin-top: 120px; width: 1000px">
    <div>
        <div style="font-size: 1.2em; font-weight : bold; display:inline; margin-left : 0em;">
            <a href="/help" style="color: black; text-decoration: none;"> 고객 서비스</a>
        </div>
        <button class="mint-color" type="submit"
                style="border-radius: 30px; padding: 1.5px 20px; margin-right: 0em; border: none; margin-left: 780px">
            <a href="/help/inquiryForm" style="text-decoration: none;"> 문의하기</a>
        </button>
        <hr>
    </div>

    <div style="font-weight: bold; font-size: 0.8em; color: rgb(145, 143, 143); display:inline; margin-left : 0em;">
        고객센터 ＞ 기업회원 ＞
    </div>
    <div style="font-weight: bold; font-size: 0.8em; display:inline; margin-left : 0.1em;">매치업</div>

    <div style="margin-top: 70px;"></div>
    <div style="font-weight: bold; font-size: 1.4em;">매치업 서비스를 이용하고 싶어요.</div>
    <div style="margin-top: 35px;"></div>
    <div style="font-size: 1.6em; font-weight: bold; display:inline; color: #2cb457;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">MatchUp,
    </div>
    <div style="font-size: 1.5em; display:inline;">지원자를 기다리지 말고, 먼저 찾아보세요!</div>
    <div style="font-size: 1.1em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        기업이 직접 우수인재를 찾아보고,
    </div>
    <div style="font-size: 1.1em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        마음에 드는 인재에게 면접 제안을 할 수 있는
    </div>
    <div style="font-size: 1.1em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        새로운 채용 솔루션 입니다.
    </div>


    <div style="margin-top: 60px;"></div>

    <div style="font-weight: bold; font-size: 1.8em; display:inline;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">합리적인 가격
    </div>
    <div style="font-size: 1.8em; display:inline; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        으로,
    </div>
    <div style="font-size: 1.8em; display:inline; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        우수한 인재풀을
    </div>
    <div style="font-weight: bold; font-size: 1.8em; display:inline;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">빠르고 쉽게!
    </div>
    <div style="margin-top: 20px;"></div>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">① 빠른 채용</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 평균 3일 안에 면접 수락
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 채용 기간 평균 15일 단축
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 인기 많은 인재, 우수 인재 모아보기
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">② 알아서 척척! 추천AI</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 기존 공고 대비 채용기간 1/6 단축
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - AI가 합격 가능성 높은 인재 추천
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 80만건 이상의 전형 데이터를 바탕으로 한 높은 정확도
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">③ 혁신적 비용 절감</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 몇 명을 채용해도 추가 비용 Zero
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 65% 사용자가 비용 절감 경험
    </div>

    <div style="margin-top: 40px;"></div>

    <div style="font-size: 1.7em; display:inline;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">MatchUp
    </div>
    <div style="font-size: 1.7em; display:inline; font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">이용 절차
    </div>
    <div style="margin-top: 20px;"></div>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">① 이력서 미리 보기</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 다양한 검색어로 유저 이력서 조회 가능
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 열람 , 주요 내용 미리보기
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">② 이력서 열람 및 면접 제안</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 이력서 상세 열람 후 면접 진행을 원할 시 맞춤형 메세지로 직접 제안
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 회사 및 포지션 소개, 연봉, 복지 등 면접 제안 발송
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">③ 제안 수락 시 면접 진행</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 면접 제안 수락 시 후보자 성함 및 연락처가 공개
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        - 공개된 연락처로 직접 연락하여 면접 진행
    </div>

    <div style="margin-top: 40px;"></div>

    <div style="font-size: 1.7em; display:inline;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">MatchUp
    </div>
    <div style="font-size: 1.7em; display:inline; font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">이용 가격
    </div>
    <div style="margin-top: 10px;"></div>
    <div style="font-size: 0.5em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(143, 143, 143);">
        ※ 정액제 상품(라이트, 베이직): 채용 수수료 무료, VAT 별도
    </div>
    <div style="margin-top: 20px;"></div>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">① 라이트</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        500,000원 / 30개 상세 이력서 열람 / 30일
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">② 베이직</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        1,000,000원/ 100개 상세 이력서 열람 / 30일
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">③ 무제한 요금제</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        합격자 연봉의 7% / 무제한 상세 이력서 열람 / 기간 제한 없음
    </div>
    <br>

    <div style="margin-top: 80px;"></div>

    <div style="font-size: 0.9em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;">또 다른 질문이 있으십니까?
    </div>
    <div style="font-size: 0.9em; color: blue; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;"><a href="/help/inquiryForm" style="color: #2cb457;"> 다른 문의등록하기＞</a></div>
    <div style="margin-top: 100px;"></div>
</div>

{{> layout/footer}}
