{{> layout/header}}

<div class="container-fluid" style="margin-top: 120px; width: 1000px">
    <div>
        <div style="font-size: 1.2em; font-weight : bold; display:inline; margin-left : 0em;">
            <a href="/help" style="color: black; text-decoration: none;"> 고객 서비스</a>
        </div>
        <button class="mint-color" type="submit"
                style="border-radius: 30px; padding: 1.5px 20px; margin-right: 0em; border: none; margin-left: 780px">
            <a href="/help/inquiryForm" style="text-decoration: none;"> 문의하기</a>
        </button>
        <hr>
    </div>

    <div
            style="font-weight: bold; font-size: 0.8em; color: rgb(145, 143, 143); display:inline; margin-left : 0em;">
        고객센터 ＞ 기업회원 ＞
    </div>
    <div style="font-weight: bold; font-size: 0.8em; display:inline; margin-left : 0.1em;">매치업</div>

    <div style="margin-top: 70px;"></div>
    <div style="font-weight: bold; font-size: 1.4em;">매치업 후보자의 각 상태별 의미가 궁금합니다</div>
    <div style="margin-top: 35px;"></div>


    <div style="font-weight: bold; font-size: 1.0em; display:inline; color: #2cb457;">① 이력서 미리보기 (추천 인재)</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        저희 사이트에서 추천하는 후보자입니다.
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        다른 회사에서도 눈여겨 보는 인재인 만큼 얼른 확인해보세요.
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">② 이력서 미리보기 (일반)</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        후보자의 이력서를 간략히 확인할 수 있습니다.
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        더 많은 내용이 궁금하시다면 상세 이력서를 열람해보세요.
    </div>
    <br>
    <div style="font-weight: bold; font-size: 1.0em; display:inline;">③ 열람한 이력서</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        상세 이력서 확인 후 열람한 이력서로 반영된 상태입니다.
    </div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        관심있는 후보자라면 면접을 제안해보세요.
    </div>


    <br>

    <div style="margin-top: 80px;"></div>

    <div style="font-size: 0.9em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;">또 다른 질문이 있으십니까?
    </div>
    <div style="font-size: 0.9em; color: blue; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;"><a href="/help/inquiryForm" style="color: #2cb457;"> 다른 문의등록하기＞</a></div>
    <div style="margin-top: 100px;"></div>
</div>


{{> layout/footer}}
