{{> layout/header}}

<div class="container-fluid" style="margin-top: 120px; width: 1000px">
    <div>
        <div style="font-size: 1.2em; font-weight : bold; display:inline; margin-left : 0em;">
            <a href="/help" style="color: black; text-decoration: none;"> 고객 서비스</a>
        </div>
        <button class="mint-color" type="submit"
                style="border-radius: 30px; padding: 1.5px 20px; margin-right: 0em; border: none; margin-left: 780px">
            <a href="/help/inquiryForm" style="text-decoration: none;"> 문의하기</a>
        </button>
        <hr>
    </div>

    <div style="font-weight: bold; font-size: 0.8em; color: rgb(145, 143, 143); display:inline; margin-left : 0em;">
        고객센터 ＞ 개인회원 ＞
    </div>
    <div style="font-weight: bold; font-size: 0.8em; display:inline; margin-left : 0.1em;">지원하기 ∙ 관리</div>

    <div style="margin-top: 70px;"></div>
    <div style="font-weight: bold; font-size: 1.4em;">삭제한 이력서 복원이 가능한가요?</div>
    <div style="margin-top: 35px;"></div>


    <div style="margin-top: 40px;"></div>

    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:inline;">
        안타깝게도 삭제된 이력서는 개인 정보 보호 상 내부 시스템에 보관되지 않습니다.</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:inline;">
        다만, </div>
    <div
        style="font-size: 1.0em; color: #2cb457; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:inline;">
        지원 현황</div>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:inline;">
        내 이전 지원 건을 클릭하시면 첨부되었던 이력서 파일을 다운로드하여 활용할 수 있습니다.</div>
    <br>
    <div style="font-size: 1.0em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display:inline;">
        (다운로드 한 이력서는 매치업 이력서로 등록할 수 없기 때문에, 새로이 이력서를 생성하여 작성 완료 후 매치업 등록이 가능합니다.)</div>


    <div style="margin-top: 80px;"></div>

    <div style="font-size: 0.9em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;">또 다른 질문이 있으십니까?
    </div>
    <div style="font-size: 0.9em; color: blue; font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display:inline;"><a href="/help/inquiryForm" style="color: #2cb457;"> 다른 문의등록하기＞</a></div>
    <div style="margin-top: 100px;"></div>
</div>

{{> layout/footer}}
