{{> layout/compheader}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>
        <div class="new-container my-5 py-5 pt-80">


            {{> comp/comp-sidebar}}
            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 270px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">
                        <div class="font mb-3">전체</div>
                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a
                                    href="/jobs/write-jobs-form">공고작성</a></button>
                        </div>
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>현재 열린 공고</th>
                                <th>필요 기술</th>
                                <th>업무</th>
                                <th>경력</th>
                                <th>공고 관련</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#jobsList}}
                                <tr class="offer-table">
                                    <td>{{id}}</td>
                                    <td>
                                        <div style="text-align: left; font-size: 20px;font-weight: 700;margin-bottom: 5px;">{{title}}</div>
                                    <!--타이틀, 보유스킬-->
                                    <td class="col-3" style="text-align: center">
                                        <div class="new-skill-box">
                                            {{#skills}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skills}}
                                        </div>
                                    </td>
                                    <td>{{task}}</td>
                                    <td>{{career}}</td>

                                    <td class="col-3" style="text-align: center">
                                        <div>
                                            <div class="new-create-button">
                                                <button type="button" onclick="findApplicant({{jobsId}})"
                                                        class="btn btn-mint offer-table-btn">지원자 보기
                                                </button>
                                            </div>
                                            <div class="new-create-button">
                                                <a href="/jobs/{{jobsId}}/update-jobs-form">
                                                    <button type="button" class="btn btn-mint offer-table-btn">공고 수정
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="new-create-button">
                                                <form action="/jobs/{{jobsId}}/delete" method="post" style="width: 100%">
                                                    <button class="btn btn-mint offer-table-btn">공고 삭제</button>
                                                </form>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {{/jobsList}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font mb-3">지원자현황</div>
                    <div>
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
                            <tr>
                                <th class="center-align col">No</th>
                                <th class="center-align col-2">이름</th>
                                <th class="center-align col">이력서 제목</th>
                                <th class="center-align col-2">경력</th>
                                <th class="center-align col">주요 기술</th>
                                <th class="center-align col">지원관련</th>
                            </tr>
                            </thead>
                            <tbody id="ursaList">


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function render(ursaDTO) {
        console.log(ursaDTO)
        let temp = `
                <tr class="offer-table">
                    <th scope="row">${ursaDTO.id}</th>
                    <td>${ursaDTO.myName}</td>
                    <td>${ursaDTO.title}</td>
                    <td>${ursaDTO.career}</td>
                    <td>
                        <div class="new-skill-box">
                        `;

        ursaDTO.skillList.forEach(s => {
            temp += `<span class="${s.color}">${s.name}</span>`;
        });

        temp += `
                        </div>
                    </td>

                    <td style="text-align: right;">
                        <div class="d-flex justify-content-end">
                            <div class="new-create-button">
                                <form action="/resume/resume-detail/${ursaDTO.resumeId}">
                                    <input type="hidden" name="jobsId" value="${ursaDTO.jobsId}">
                                    <button type="submit" class="btn btn-mint offer-table-btn">상세보기</button>
                                </form>
                            </div>
                            <div class="new-create-button">
                                <!--무슨아이디로 검색하는 건지 명시할 필요있음--이력서 아이디로 검색 로직-->
                                <form action="/apply/pass/update/${ursaDTO.resumeId}}" method="post">
                                    <input type="hidden" name="jobsId" value="${ursaDTO.jobsId}">
                                    <button type="submit" class="btn btn-mint offer-table-btn">합격</button>
                                </form>
                            </div>
                            <div class="new-create-button">
                                <!--무슨아이디로 검색하는 건지 명시할 필요있음--이력서 아이디로 검색 로직-->
                                <form action="/apply/fail/update/${ursaDTO.resumeId}}" method="post">
                                    <input type="hidden" name="jobsId" value="${ursaDTO.jobsId}">
                                    <button type="submit" class="btn btn-mint offer-table-btn">불합격</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
        `;
        return temp;
    }

    function findApplicant(jobsId) {
        $.ajax({
            url: "/api/find-applicants",
            type: "post",
            data: {
                jobsId: jobsId
            }
        }).done((resp) => {
            $("#ursaList").empty();
            resp.forEach(item => {
                let htmlContent = render(item);
                $('#ursaList').append(htmlContent);
            })
        });
    }

</script>
{{> layout/footer}}



