{{> layout/compheader}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>
        <div class="new-container my-5 py-5 pt-80">


            {{> comp/comp-sidebar}}
            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 270px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">
                        <div class="font mb-3">전체</div>
                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a
                                    href="/jobs/write-jobs-form">공고작성</a></button>
                        </div>
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>현재 열린 공고</th>
                                <th>필요 기술</th>
                                <th>업무</th>
                                <th>경력</th>
                                <th>공고 관련</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#jobsList}}
                                <tr class="offer-table">
                                    <td>{{id}}</td>
                                    <td>
                                        <div style="text-align: left; font-size: 20px;font-weight: 700;margin-bottom: 5px;">{{title}}</div>
                                        <!--타이틀, 보유스킬-->
                                    <td class="col-3" style="text-align: center">
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>{{task}}</td>
                                    <td>{{career}}</td>

                                    <td class="col-3" style="text-align: center">
                                        <div>
                                            <div class="new-create-button">
                                                <button type="button" onclick="findApplicant({{jobsId}})"
                                                        class="btn btn-mint offer-table-btn">지원자 보기
                                                </button>
                                            </div>
                                            <div class="new-create-button">
                                                <a href="/jobs/{{jobsId}}/update-jobs-form">
                                                    <button type="button" class="btn btn-mint offer-table-btn">공고 수정
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="new-create-button">
                                                <form action="/jobs/{{jobsId}}/delete" method="post"
                                                      style="width: 100%">
                                                    <button class="btn btn-mint offer-table-btn">공고 삭제</button>
                                                </form>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {{/jobsList}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font mb-3">지원자현황</div>
                    <div>
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
                            <tr>
                                <th class="center-align col">No</th>
                                <th class="center-align col-2">이름</th>
                                <th class="center-align col">이력서 제목</th>
                                <th class="center-align col-2">경력</th>
                                <th class="center-align col">주요 기술</th>
                                <th class="center-align col">지원관련</th>
                            </tr>
                            </thead>
                            <tbody id="ursaList">


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function findApplicant(jobsId) {
        $.ajax({
            url: "/api/find-applicants",
            type: "post",
            data: {
                jobsId: jobsId
            }
        }).done((resp) => {
            // 기존에 있던 렌더링 지우고
            $("#ursaList").empty();

            // 새로운 데이터로 렌더링
            resp.forEach(item => {
                let htmlContent = renderJob(item);
                $('#ursaList').append(htmlContent);
            })
        });
    }

    function renderJob(ursaDTO) {
        let temp = `
                <tr class="offer-table">
                    <th scope="row">${ursaDTO.id}</th>
                    <td>${ursaDTO.myName}</td>
                    <td>${ursaDTO.title}</td>
                    <td>${ursaDTO.career}</td>
                    <td>
                        <div class="new-skill-box">
                        `;

        ursaDTO.skillList.forEach(s => {
            temp += `<span class="${s.color}">${s.name}</span>`;
        });

        temp += `
                        </div>
                    </td>

                    <td style="text-align: right;">

                        <div class="d-flex justify-content-end">`;
        if (ursaDTO.isPass === null){
            temp += `<div class="mb-2" style="">
                                        <DIV type="button" class="btn btn-outline-mint mb-2">
                                            응답 대기중
                                        </DIV>
                                    </form>
                                </div>`;
        } else if (ursaDTO.isPass){
            temp += `<div class="mb-2" style="">
                                        <DIV type="button" class="btn btn-outline-mint mb-2">
                                            합격
                                        </DIV>
                                    </form>
                                </div>`;
        }else {
            temp += `<div class="mb-2" style="">
                                        <DIV type="button" class="btn btn-outline-mint mb-2">
                                            불합격
                                        </DIV>
                                    </form>
                                </div>`;
        }
        temp += `
                                    </div>
                        </div>
                    </td>
                </tr>
        `;

        return temp;
        // let temp = `
        //     <div class="card mb-4 mt-3">
        //         <div class="card-body" style=" padding: 0 !important;">
        //             <div class="row">
        //                 <div class="col-7 mt-2">
        //                     <h5 class="card-title" style="text-align: left;">
        //                     ${resp.title}
        //                     </h5>
        //                     <!-- 기술 스킬 -->
        //                     <div class="d-flex">
        //                         <div class="new-skill-box">
        //                         `;
        // resp.skillList.forEach(s => {
        //     temp += `<span class="${s.color}">${s.name}</span>`;
        // });
        //
        // temp += `
        //             </div>
        //                     </div>
        //                     <div class="m-2" style="float: left;" xmlns="http://www.w3.org/1999/html">
        //                         <h6 class="card-subtitle text-muted">
        //                              ${resp.edu}
        //                         </h6>
        //                     </div>
        //                     <div class="m-2" style="float: left;">
        //                         <h6 class="card-subtitle text-muted">
        //                             ${resp.career}
        //                         </h6>
        //                     </div>
        //                     <div class="m-2" style="float: left;">
        //                         <h6 class="card-subtitle text-muted">
        //                             ${resp.area}
        //                         </h6>
        //                     </div>
        //                 </div>
        //                 <div class="col-5">
        //                     <div class="d-flex" style="justify-content: flex-end;">
        //                         <input type="hidden" value="" name="" id="">
        //                         <div class="mb-2 mr-10" style="">
        //                             <!--                                                    상세보기 였던 자리 -->
        //                         </div>
        //                         <div class="mb-2 mr-10" style="">
        //                         <a href="/jobs/${resp.jobsId}/update-jobs-form/">
        //                             <button type="button" class="btn btn-mint">
        //                                 공고 수정
        //                             </button>
        //                         </a>
        //                         </div>
        //                         <div class="mb-2" style="">
        //                             <form action="/jobs/${resp.jobsId}/delete" method="post">
        //                                 <button type="submit" class="btn btn-outline-mint mb-2">
        //                                     공고 삭제
        //                                 </button>
        //                             </form>
        //                         </div>
        //                     </div>
        //                 </div>
        //             </div>
        //         </div>
        //     </div>
        //     `;
        // return temp;
    }



</script>
{{> layout/footer}}


<!--//-->
<!--// ursaDTO.skillList.forEach(s => {-->
<!--//     temp += `<span class="${s.color}">${s.name}</span>`;-->
<!--// });-->
<!--//-->
