{{> layout/header}}
<style>
    #photo {
        width: 80%;
        height: auto;
    }

    .resume-info-txt table td,
    .resume-info-txt table th {
        padding: 0 0 25px;
    }

    .resume-info-txt table td {
        margin-left: 20px;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .side-button-container {
        display: flex;
        justify-content: left;
    }

    .resume-container {
        display: flex;
        justify-content: flex-end;
    }

    .resume {
        width: 900px;
    }

    .side-button {
        position: fixed;
        top: 100px;
        right: 100px;
    }

    .font-title {
        font-size: 25px;
        font-weight: 800;
    }

    .card {
        padding: 0px;
    }
</style>


<div class="main-panel">
    <div class="resume-container">
        <div class="resume pt-140">
            {{#resumeObject}}
                <div class="container d-flex ft-18">
                    <form>
                        <div class="">

                            <!-- <div class="title">
                            <h2>이력서 작성</h2>
                        </div>
                        <hr> -->

                            <div class=" mb-3 ft-18">
                                <div class="card-header resume-info-hdtitle mt-3 font-title">기본 정보</div>
                                <hr>
                                <div class="card-body d-flex">
                                    <div class="my-border resume-info-img col-3" style="text-align: center;">
                                        <img class="" src="/images/aboutme_img.jpg" alt="" srcset=""
                                             style="width: 80%; height: auto;" id="photo">
                                    </div>

                                    <div class="resume-info-txt ml-50 mt-2">
                                        <table>
                                            <tr>
                                                <th>이름</th>
                                                <td>{{myName}}</td>
                                            </tr>
                                            <tr>
                                                <th>생년월일</th>
                                                <td>{{birth}}</td>
                                            </tr>
                                            <tr>
                                                <th>연락처</th>
                                                <td>{{phone}}</td>
                                            </tr>
                                            <tr>
                                                <th>E-mail</th>
                                                <td>{{email}}</td>
                                            </tr>
                                            <tr>
                                                <th>주소</th>
                                                <td>{{address}}</td>
                                            </tr>
                                            <tr>
                                                <th>희망 근무지역</th>
                                                <td>{{area}}</td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-light mb-3 mt-50">
                            <div class="card-header font-title">제목</div>
                            <div class="card-body">
                                <div id="title" class="form-control">{{title}}</div>
                            </div>
                        </div>
                        <div class="card border-light mb-3 mt-3">
                            <div class="card-header resume-info-hdtitle  font-title">학력 사항</div>
                            <div class="card-body">
                                <div id="edu" class="form-control">{{edu}}</div>
                            </div>
                        </div>

                        <div class="card border-light mb-3">
                            <div class="card-header resume-info-hdtitle  font-title">경력 사항</div>
                            <div class="card-body">
                                <div id="career" class="form-control">{{career}}</div>
                            </div>
                        </div>

                        <div class="card border-light mb-3">
                            <div class="card-header resume-info-hdtitle  font-title">보유 기술</div>
                            <div class="card-body">
                                <div class="my-3" style="background-color: #f8f8f8; padding: 20px">
                                    <div class="new-skill-box">
                                        {{#skillList}}
                                            <div class="{{color}}">{{name}}</div>
                                        {{/skillList}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-light mb-3">
                            <div class="card-header  font-title">자기소개서</div>
                            <div class="card-body">
                                <div class="form-group">
                                            <textarea class="form-control" name="content" id="content"
                                                      rows="10">{{introduce}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="card border-light mb-3">
                            <div class="card-header  font-title">링크</div>
                            <div class="card-body">
                                <div id="portLink" class="form-control">{{portLink}}</div>
                            </div>
                        </div>
                </div>
            {{/resumeObject}}
            </div>
        </div>
    </div>
</div>
</form>


<!--버튼-->
</div>
</div>
</div>
<div class="side-button-container">
    <div class="side-button">
        <div id="rButton" style="width: 12em;">
            <br>
            <div class="row p-1">
                <div>
                    <div id="scrap-${rDto.resumeId}-render">
                        <div id="scrap-${rDto.resumeId}-remove">
                            {{#scrap.isScrap}}
                                <form action="/resume/scrap/{{scrap.id}}/delete" method="post">
                                    <input type="hidden" name="resumeId" value="{{resume.id}}">
                                    <button type="submit" class="btn btn-mint w-100 mb-10">스크랩 취소</button>
                                </form>
                            {{/scrap.isScrap}}
                            {{#offer.isScrap}}
                                <form action="/resume/offer/{{scrap.id}}/delete" method="post">
                                    <input type="hidden" name="resumeId" value="{{resume.id}}">
                                    <button type="submit" class="btn btn-outline-mint w-100">제안 취소</button>
                                </form>
                            {{/offer.isScrap}}
                            {{^scrap.isScrap}}
                                <form action="/resume/scrap/save" method="post"
                                      enctype="application/x-www-form-urlencoded">
                                    <input type="hidden" name="resumeId" value="{{id}}">
                                    <button type="submit" class="btn btn-mint w-100 mb-10 ">합격</button>
                                </form>
                            {{/scrap.isScrap}}
                            {{^offer.isScrap}}

                                <form action="/resume/offer/save" method="post"
                                      enctype="application/x-www-form-urlencoded">
                                    {{#jobsList}}
                                        {{title}} {{compName}}: <input type="radio" name="jobsId"
                                                                       value="{{id}}">
                                    {{/jobsList}}

                                    <input type="hidden" name="resumeId" value="{{id}}">
                                    <button type="submit" class="btn btn-outline-danger w-100">불합격</button>
                                </form>
                            {{/offer.isScrap}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{> layout/footer}}