{{> layout/compheader}}

<div style="margin-top: 130px; min-height: 600px;" class="mx-auto">
    <div>

        <div style="display: flex; justify-content: center; max-width: 1400px; margin: 0 auto;">


            {{> comp/comp-sidebar}}
            <div id="content" class="my-4 layer2-right-container" style="flex: 0 0 auto; width: calc(100% - 270px);">
                <div class="components">
                    <div class="components-div p-tb-10 d-flex justify-content-between">

                        <div class="font">전체</div>

                        <div>
                            <button type="button" class="btn btn-mint offer-table-btn mb-3"><a
                                    href="/jobs/writeJobsForm">공고작성</a></button>
                        </div>
                    </div>
                    <div class="components-div">
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>현재 열린 공고</th>
                                <th>포지션</th>
                                <th>경력</th>
                                <th>공고 관련</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#jobList}}

                                <tr class="offer-table">
                                    <td>{{id}}</td>
                                    <td>
                                        <div>{{title}}</div>

                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>
                                    <td>{{task}}</td>
                                    <td>{{career}}</td>

                                    <td class="d-flex justify-content-between ">
                                        <div class="new-create-button">
                                            <a href="/comp/{{sessionComp.id}}/comphome?jobsId={{id}}">
                                            <button type="button" class="btn btn-mint offer-table-btn">지원자 보기</button>
                                            </a>
                                        </div>
                                        <div class="new-create-button">
                                            <a href="/jobs/{{id}}/updateJobsForm">
                                                <button type="button" class="btn btn-mint offer-table-btn">공고 수정</button>
                                            </a>
                                        </div>
                                        <div class="new-create-button">
                                            <form action="/jobs/{{id}}/delete" method="post">
                                                <button class="btn btn-mint offer-table-btn">공고 삭제</button>
                                            </form>
                                        </div>

                                    </td>
                                </tr>
                            {{/jobList}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="components" style="height: 50px;"></div>
                <div class="components">
                    <div class="font mb-3">지원자현황</div>
                    <div>
                        <table class="table table-hover offer-table scroll"
                               style="text-align: center; border-top:2px solid #ddd">
                            <thead>
                            <!--여기 UI부분 눈을 헤쳐서 고쳤어요-->
                            <tr>
                                <th class="center-align col">No</th>
                                <th class="center-align col-2">이름</th>
                                <th class="center-align col">이력서 제목</th>
                                <th class="center-align col-2">경력</th>
                                <th class="center-align col">주요 기술</th>
                                <th class="center-align col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#compResumeList}}
                                <tr class="offer-table">
                                    <th scope="row">{{id}}</th>
                                    <td>{{myName}}</td>
                                    <td>{{title}}</td>
                                    <td>{{career}}</td>
                                    <td>
                                        <div class="new-skill-box">
                                            {{#skillList}}
                                                <div class="{{color}}">{{name}}</div>
                                            {{/skillList}}
                                        </div>
                                    </td>

                                    <td style="text-align: right;">
                                        <div class="d-flex justify-content-end">
                                            <div class="new-create-button">
                                                <form action="/resume/resumeDetail/{{id}}">
                                                    <input type="hidden" name="jobsId" value="{{jobsId}}">
                                                    <button type="submit" class="btn btn-mint offer-table-btn">상세보기</button>
                                                </form>
                                            </div>
                                            <div class="new-create-button">
                                                <form action="/apply/pass/update/{{id}}" method="post">
                                                    <input type="hidden" name="jobsId" value="{{jobsId}}">
                                                    <button type="submit" class="btn btn-mint offer-table-btn">합격</button>
                                                </form>
                                            </div>
                                            <div class="new-create-button">
                                                <form action="/apply/fail/update/{{id}}" method="post">
                                                    <input type="hidden" name="jobsId" value="{{jobsId}}">
                                                    <button type="submit" class="btn btn-mint offer-table-btn">불합격</button>
                                                </form>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {{/compResumeList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}