{{> layout/compheader}}

<div class="ml-80 mr-80 pt-140 mx-auto">
    <div class="new-container">
        <div class="new-flex-wrapper">
            <!-- 가운데 탭-->
            <div class="" style=" display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr 1fr; grid-gap: 20px;">
                <div class="">
                    <!--<button type="button" class="btn btn-mint w-100 ">지역별</button>-->
                    <select class="form-select tab btn-outline-mint" name="area" id="area">
                        <option selected disabled>지역별</option>
                        <option value="seoul">서울특별시</option>
                        <option value="busan">부산광역시</option>
                        <option value="incheon">인천광역시</option>
                        <option value="gwangju">광주광역시</option>
                        <option value="daejeon">대전광역시</option>
                    </select>
                    </td>
                </div>

                <div class="">
                    <!--<button type="button" class="btn btn-outline-mint w-100">기술별</button>-->
                    <select class="form-select tab btn-outline-mint" name="skillList" id="skillList">
                        <option selected disabled>기술별</option>
                        <option value="java">Java</option>
                        <option value="javascript">JavaScrip</option>
                        <option value="spring">Spring</option>
                        <option value="html">HTML</option>
                        <option value="jquery">jquery</option>
                        <option value="jsp">JSP</option>
                        <option value="vuejs">Vue.js</option>
                        <option value="oracle">Oracle</option>
                        <option value="mysql">MysQL</option>
                        <option value="react">React</option>
                    </select>
                </div>
                <div class="">
                    <!--<button type="button" class="btn btn-outline-mint w-100">직무별</button>-->
                    <select class="form-select tab btn-outline-mint" name="career" id="career">
                        <option selected disabled>경력별</option>
                        <option value="new">신입</option>
                        <option value="middle">미들(4~8년)</option>
                        <option value="senior">시니어(10년 이상)</option>
                    </select>
                </div>
            </div>
            <div class="info" style=" display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 30px; margin: 50px 0;">
                {{#jobsList}}
                    <!--공고-->
                    <div class="card">
                        <a href="/jobs/comp-jobs-detail/{{id}}">
                        <div class="img-wrapepr" style="display: flex; justify-content: center;">
                            <img class="card-img-top" src="/upload/{{imgFileName}}" alt="" srcset=""
                                 style=" width: 180px; border-radius: 10px; padding: 5px; text-align: center; padding: 0;">
                        </div>
<!--                           onclick="window.open(this.href, '_blank', 'width=1920,height=1080,toolbars=no,scrollbars=no, resizable=no'); return false;">-->
                            <!-- 이미지 파일 부분 제거 -->
                            <div class="card-body">

                                <div class="mb-2 ft-16">{{compName}}</div>
                                <div class="point-ft ft-22 fw-600 mb-10">{{title}}</div>

                                <!--기술스킬-->
                                <div class="skill-wrap">
                                    {{#skillList}}
                                        <span class="{{color}}">{{name}}</span>
                                    {{/skillList}}
                                </div>

                                <!--career, address info-->
                                <div class="d-flex">
                                    <div class="career">{{career}}</div>
                                    <div class="mr-5 ml-5">|</div>
                                    <div class="address">{{area}}</div>
                                </div>
                                <!--career, address info-->

                                <div class="d-flex justify-content-end">
                                    <!--공고 마감일-->
                                    <div class="d-day mr-10">~{{deadline}}</div>
                                    <!--공고 마감일-->

                                    <!--공고 스크랩-->
                                    <button type="button" aria-label="북마크" class="btn-scrap">
                                        <div class="scrap">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M4.75 2.5a.25.25 0 0 0-.25.25v9.91l3.023-2.489a.75.75 0 0 1 .954 0l3.023 2.49V2.75a.25.25 0 0 0-.25-.25h-6.5zM3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 0 1-1.227.579L8 11.722l-3.773 3.107A.75.75 0 0 1 3 14.25V2.75z"
                                                      fill="#eaecee"></path>
                                            </svg>
                                        </div>
                                    </button>
                                    <!--공고 스크랩-->
                                </div>
                            </div>
                        </a>
                    </div>

                    <script>
                        // 옵션 선택 시 URL 변경
                        document.getElementById("area").addEventListener("change", function () {
                            var selectedArea = this.options[this.selectedIndex].value;
                            window.location.href = "http://localhost:8080/?area=" + selectedArea;
                        });

                        document.getElementById("skillList").addEventListener("change", function () {
                            var selectedSkill = this.options[this.selectedIndex].value;
                            window.location.href = "http://localhost:8080/?skill=" + selectedSkill;
                        });

                        // 옵션 선택 시 URL 변경
                        document.getElementById("career").addEventListener("change", function () {
                            var selectedCareer = this.options[this.selectedIndex].value;
                            window.location.href = "http://localhost:8080/?career=" + selectedCareer;
                        });

                    </script>


                    <!--공고-->

                {{/jobsList}}
            </div>
            <!-- 공고들 -->

            <!--페이징-->
            <div class="pages">
                <ul class="pagination justify-content-center pb-50">
                    <li class="page-item disabled prev">
                        <a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a></li>
                    <a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled next">
                        <a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

{{> layout/footer}}