{{> layout/compheader}}

<div style="display:flex;" class="my-5">
    <div class="mx-auto width-53 p-80">
        <div class="rounded-3 container all-form border border-3 p-3" style="width: 400px; margin-top: 60px">
            <div class="mb-1" style="display: flex; justify-content: center; width: 60%; border-bottom: 2px black;">
                <div class="point-color fw-600 fs-4">기업 회원가입</div>
            </div>

            <form style="width: 350px; align-items: normal" action="/comp/join" method="post" onsubmit="return valid()">
                <div class="d-flex form-group mt-2 mb-2">
                    <input type="email" name="email" class="form-control" placeholder="Enter email" id="email">
                    <button type="button" class="badge bg-secondary ms-2" onclick="emailSameCheck()">중복확인</button>
                </div>

                <div class="form-group mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Enter password"
                           id="password">
                </div>

                <div class="form-group mb-2">
                    <input type="password" class="form-control" placeholder="Enter passwordCheck" id="passwordCheck">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="myName" class="form-control" placeholder="Enter username"
                           id="myName">
                </div>

                <div class="form-group mb-2">
                    <input type="text" name="compName" class="form-control"
                           placeholder="Enter representativeName" id="compName" value="삼성">

                </div>

                <div class="form-group mb-2">
                    <input type="text" name="businessNumber" class="form-control" placeholder="Enter businessNumber"
                           id="businessNumber">
                </div>
                <div class="form-group mb-2">
                    <input type="tel" name="phone" class="form-control" placeholder="Enter phone number"
                           id="phone">
                </div>
                <div class="form-group mb-2">
                    <input type="text" name="homepage" class="form-control" placeholder="Enter homepage"
                           id="homepage">
                </div>

                <input class="btn btn-outline-mint mb-2" type="button" onClick="goPopup();" value="도로명주소 검색">
                <div id="list"></div>
                <div id="callBackDiv">
                    <div class="form-group mb-4">
                        <input class="form-control" type="text" id="address" readonly name="address"
                               placeholder="주소 검색으로 입력"/>
                        <input type="hidden" id="siNm" name="siNm"/>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked1">
                    <label class="form-check-label" for="flexCheckChecked1">
                        (필수) 이용약관 동의
                    </label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked2">
                    <label class="form-check-label" for="flexCheckChecked2">
                        (필수) 개인정보 수집 및 이용 동의
                    </label>
                </div>

                <div class="d-grid gap-2 mb-4">
                    <input id="button" class=" btn btn-mint" type="submit" value="회원가입">
                </div>
            </form>
        </div>
    </div>
</div>

<!--중복체크 스크립트-->
<script>
    // let isSameCheck = false;
    //
    // // 아이디 필드가 변경되면 중복 체크 상태를 초기화
    // $("#email").on("change", function () {
    //     isSameCheck = false;
    // });
    //
    // function valid() {
    //     if (isSameCheck == false) {
    //         alert("아이디 중복 체크를 해야합니다");
    //         return false;
    //     }
    //     return true;
    // }
    //
    // function emailSameCheck() {
    //     let email = $("#email").val();
    //
    //     $.ajax({
    //         url: "/api/user/username-same-check?email=" + email,
    //         type: "get"
    //     }).done((res) => {
    //         console.log(res);
    //         if (res.body == true) {
    //             isSameCheck = true;
    //             alert("가입 가능한 아이디입니다");
    //         } else {
    //             isSameCheck = false;
    //             alert("중복된 아이디가 존재합니다");
    //         }
    //     }).fail((res) => {
    //         alert(res.responseJSON.msg);
    //     });
    // }

    function goPopup() {
        // 현재 화면의 중앙 위치를 계산
        var width = 500; // 팝업 창의 너비
        var height = 480; // 팝업 창의 높이
        var left = (window.screen.width / 2) - (width / 2);
        var top = (window.screen.height / 2) - (height / 2);
        new daum.Postcode({
            oncomplete: function (data) {
                // 주소 검색 결과 처리 로직
                document.getElementById('address').value = data.address; // 도로명 주소
                window.close();
            },
            width: width, // 팝업 창의 너비
            height: height // 팝업 창의 높이
        }).open({
            left: left, // 팝업 창을 화면의 가운데로 위치
            top: top
        });
    }

</script>

{{> layout/footer}}
