{{> layout/compheader}}


<style>
    .nav-pills>.nav-item> {
        color: rgb(255, 255, 255);
        background-color: rgb(77, 143, 77)
    }
</style>
<div class="ml-80 mr-80 px-3 pt-140 new-container" style=" flex-direction: column;">
    <!-- 가운데 탭-->
    <div class="" style=" display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr 1fr; grid-gap: 20px;">
        <div class="">
            <!--<button type="button" class="btn btn-mint w-100 ">지역별</button>-->
            <select class="form-select tab btn-outline-mint" name="area" id="areaList">
                <option value="">지역별</option>
                <option value="서울">서울특별시</option>
                <option value="부산">부산광역시</option>
                <option value="인천">인천광역시</option>
                <option value="광주">광주광역시</option>
                <option value="대전">대전광역시</option>
                <option value="경기도">경기도</option>
            </select>
            </td>
        </div>
        <div class="">
            <!--<button type="button" class="btn btn-outline-mint w-100">기술별</button>-->
            <select class="form-select tab btn-outline-mint" name="skillName" id="skillList">
                <option value="">기술별</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Spring">Spring</option>
                <option value="HTML/CSS">HTML/CSS</option>
                <option value="Jquery">Jquery</option>
                <option value="Jsp">JSP</option>
                <option value="Vuejs">Vue.js</option>
                <option value="Oracle">Oracle</option>
                <option value="MySql">MySQl</option>
                <option value="React">React</option>
            </select>
        </div>
        <div class="">
            <!--<button type="button" class="btn btn-outline-mint w-100">직무별</button>-->
            <select class="form-select tab btn-outline-mint" name="career" id="careerList">
                <option value="">경력별</option>
                <option value="신입">신입</option>
                <option value="미들(4년~8년)">미들(4년~8년)</option>
                <option value="시니어(10년 이상)">시니어(10년이상)</option>
            </select>
        </div>
    </div>


    <!-- 공고들 -->
    <div class="info" style=" display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px; margin: 50px 0;">
            {{#rusList}}
        <!--공고-->
        <div class="card">
            <a href="/comp/comp-resume-detail/{{id}}">
                <div class="img-wrapepr" style="display: flex; justify-content: center;">
                <img class="card-img-top" src="/upload/{{imgFileName}}" alt="" srcset="" style=" width: 200px; height: 200px; border-radius: 10px; padding: 5px; text-align: center; padding: 0;">
                </div>
                    <div class="card-body">
                    <div class="mb-2 ft-16">{{myName}}</div>
                    <div class="point-ft ft-22 fw-600 mb-10">{{title}}</div>
                    <div class="skill-wrap">
                        {{#skillList}}
                            <span class="{{color}}">{{name}}</span>
                        {{/skillList}}
                    </div>
                    <!--career, address info-->
                    <div class="d-flex">
                        <div class="career">{{career}}</div>
                        <div class="mr-5 ml-5">|</div>
                        <div class="address">{{area}}</div>
                    </div>
                    <!--career, address info-->

                    <div class="d-flex justify-content-end">
                        <!--공고 마감일-->
                        <div class="edu mr-10">{{edu}}</div>
                        <!--공고 마감일-->


                        <!--공고 스크랩-->
                        <button onclick="event.preventDefault(); event.stopPropagation();" type="button" aria-label="북마크"
                                class="btn-scrap">
                            <div class="scrap">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M4.75 2.5a.25.25 0 0 0-.25.25v9.91l3.023-2.489a.75.75 0 0 1 .954 0l3.023 2.49V2.75a.25.25 0 0 0-.25-.25h-6.5zM3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 0 1-1.227.579L8 11.722l-3.773 3.107A.75.75 0 0 1 3 14.25V2.75z"
                                          fill="#eaecee"></path>
                                </svg>
                            </div>
                        </button>
                        <!--공고 스크랩-->
                    </div>
                </div>
            </a>
        </div>
        <!--공고-->
            {{/rusList}}

    <!-- 공고들 -->
</div>

    <!--페이징-->
<!--    <div class="pages">-->
<!--        <ul class="pagination justify-content-center pb-50">-->
<!--            <li class="page-item disabled prev">-->
<!--                <a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li>-->
<!--            <li class="page-item active">-->
<!--                <a class="page-link" href="#">1</a></li>-->
<!--            <a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item disabled next">-->
<!--                <a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

    <script>

        $(function (){
            {{#selected}}
                $("#areaList").find('option[value="{{area}}"]').attr("selected", true);
                $("#skillList").find('option[value="{{skill}}"]').attr("selected", true);
                $("#careerList").find('option[value="{{career}}"]').attr("selected", true);
            {{/selected}}
        });

        function getUrlWithSearchOption(){
            const area = $('#areaList').val();
            const skill = $('#skillList').val();
            const career = $('#careerList').val();

            return `http://localhost:8080/comp/read-resume?area=${area}&skill=${skill}&career=${career}`;
        }

        // 옵션 선택 시 URL 변경
        document.getElementById("areaList").addEventListener("change", function () {
            var selectedArea = this.options[this.selectedIndex].value;

            window.location.href = getUrlWithSearchOption();
        });

        document.getElementById("skillList").addEventListener("change", function () {
            var selectedSkill = this.options[this.selectedIndex].value;

            window.location.href = getUrlWithSearchOption();
        });

        // 옵션 선택 시 URL 변경
        document.getElementById("careerList").addEventListener("change", function () {
            var selectedCareer = this.options[this.selectedIndex].value;

            window.location.href = getUrlWithSearchOption();
        });

    </script>
</div>


{{> layout/footer}}