{{> layout/compheader}}
<style>
    #photo {

    }

    .resume-info-txt table td,
    .resume-info-txt table th {
        padding: 0 0 25px;
    }

    .resume-info-txt table td {
        margin-left: 20px;
    }

    .side-button-container {
        width: 220px;
        margin-left: 50px;
        position: sticky;
        top: 100px;
        height: 100%;
    }

    .side-button {

    }

    .font-title {

    }

    .card {

    }

</style>


<div class="new-flex-wrapper">
    <div class="new-container my-5 py-5 pt-80">
        {{#resume}}
            <div style="width:calc(100% - 270px);">
                    <div class="new-head">
                        <div class="resume-info-img col-3 mt-3"
                             style="width: 200px; height: auto; margin-top: 0 !important; display: flex; align-items: center; justify-content: center; border-radius: 10px; overflow: hidden;">
                            <img class="" src="/upload/{{imgFileName}}" alt="" srcset="" style="width: 100%;"
                                 id="photo">
                        </div>
                        <div class="resume-info-txt" style="width: calc(100% - 200px); margin-left: 100px;">
                            <div class="new-info-txt-wrapper">
                                <div class="new-input-wrapper">
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">이름</div>
                                        <div class="new-content bold">{{myName}}</div>
                                    </div>
                                </div>
                                <div class="new-input-wrapper">
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">생년월일</div>
                                        <div class="new-content">{{birth}}</div>
                                    </div>
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">연락처</div>
                                        <div class="new-content">{{phone}}</div>
                                    </div>
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">E-mail</div>
                                        <div class="new-content">
                                            <div class="new-content">{{email}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-input-wrapper">
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">주소</div>
                                        <div class="new-content">{{address}}</div>
                                    </div>
                                    <div class="new-wrapper-contnent">
                                        <div class="new-title">희망근무지역</div>
                                        <div class="new-content">{{area}}</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-body">
                        <div class="card border-light mb-3">
                            <div class="card-header resume-info-hdtitle">제목</div>
                            <div class="card-body">
                                <div id="title" class="form-control">{{title}}</div>
                            </div>
                            <div class="card-header resume-info-hdtitle ">학력 사항</div>
                            <div class="card-body">
                                <div id="edu" class="form-control">{{edu}}</div>
                            </div>
                            <div class="card-header resume-info-hdtitle">보유 기술</div>
                            <div class="card-body">
                                <div class="my-3" style="background-color: #f8f8f8; padding: 20px">
                                    <div class="new-skill-box">
                                        {{#skills}}
                                            <div class="{{color}}">{{name}}</div>
                                        {{/skills}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-header resume-info-hdtitle">자기소개서</div>
                            <div class="card-body">
                                <div class="form-group" id="content">
                                                <textarea class="form-control" name="content" id="content"
                                                          rows="10" readonly>{{introduce}}</textarea>
                                </div>
                            </div>
                            <div class="card-header resume-info-hdtitle ">경력 사항</div>
                            <div class="card-body">
                                <div id="career" class="form-control">{{career}}</div>
                            </div>
                            <div class="card-header resume-info-hdtitle">포트폴리오</div>
                            <div class="card-body">
                                <div id="portLink" class="form-control">{{portLink}}</div>
                            </div>
                        </div>
                    </div>
            </div>
        {{/resume}}
        {{#resume.isComp}}
        <div class="side-button-container">
            <div class="side-button">
                <div id="rButton">
                    <br>
                        <div class="row p-1">
                            <div>
                                <div id="scrap-${rDto.resumeId}-render">
                                    <div id="scrap-${rDto.resumeId}-remove">
                                        {{#resume.isWaiting}}
                                        <form id="pass" action="/apply/pass/update/{{resume.id}}" method="post">
                                            <input type="hidden" name="resumeId" value="{{resume.id}}">
                                            <input type="hidden" name="jobsId" value="{{resume.jobsId}}">
                                            <button type="submit" class="btn btn-mint w-100 mb-10">합격
                                            </button>
                                        </form>
                                        <form id="fail" action="/apply/fail/update/{{resume.id}}" method="post">
                                            <input type="hidden" name="resumeId" value="{{resume.id}}">
                                            <input type="hidden" name="jobsId" value="{{resume.jobsId}}">
                                            <button type="submit" class="btn btn-mint w-100">불합격
                                            </button>
                                        </form>
                                        {{/resume.isWaiting}}
                                        {{#resume.isPass}}
                                            <div class="btn btn-outline-mint w-100 mb-10">합격 시켯습니다.</div>
                                            <form id="fail" action="/apply/fail/update/{{resume.id}}" method="post">
                                                <input type="hidden" name="resumeId" value="{{resume.id}}">
                                                <input type="hidden" name="jobsId" value="{{resume.jobsId}}">
                                                <button type="submit" class="btn btn-mint w-100">불합격
                                                </button>
                                            </form>
                                        {{/resume.isPass}}
                                        {{#resume.isFail}}
                                            <form id="pass" action="/apply/pass/update/{{resume.id}}" method="post">
                                                <input type="hidden" name="resumeId" value="{{resume.id}}">
                                                <input type="hidden" name="jobsId" value="{{resume.jobsId}}">
                                                <button type="submit" class="btn btn-mint w-100 mb-10">합격
                                                </button>
                                            </form>
                                            <div class="btn btn-outline-mint w-100">불합격 시켯습니다.</div>
                                        {{/resume.isFail}}
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        {{/resume.isComp}}
    </div>
</div>
{{> layout/footer}}